.topbar
	margin: 1.2em
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	justify-content: center
	.topbar-info
		.week
			font-size: 1.1em
	.topbar-buttons
		margin-top: 5px
		i.material-icons
			cursor: pointer
			user-select: none
			&:hover
				color: #3a5265
			&:active
				color: darken(#3a5265, 20%)
