<div class="goal-block-container">
	<div class="goal-block goal-block-focus goal-block-focus">
		<span class="header">Focus</span>
		<span class="h-title h-title-size-lg">{{ currentGoal.focus }}</span>
	</div>

	<div class="goal-block goal-block-overview">
		<span class="header">Overview</span>
		<span class="h-title h-title-size-med">{{ currentGoal.overview }}</span>
	</div>

	<div class="goal-block goal-block-why">
		<span class="header">Why</span>
		<span class="h-title h-title-size-med">{{ currentGoal.why }}</span>
	</div>

	<div class="goal-block goal-block-how">
		<span class="header">How</span>
		<span class="h-title h-title-size-med">{{ currentGoal.how }}</span>
	</div>
</div>
