<div class="goal-block-container">
	<div class="row">
		<div class="input-field">
			<input ng-model="goaljawn.focus" id="focus" type="text" class="validate">
			<label class="active" for="focus">Focus</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field">
			<textarea ng-model="goaljawn.overview" id="overview" type="text" class="materialize-textarea validate"></textarea>
			<label class="active" for="overview">Overview</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field">
			<textarea ng-model="goaljawn.why" id="why" type="text" class="materialize-textarea validate"></textarea>
			<label class="active" for="why">Why</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field">
			<textarea ng-model="goaljawn.how" id="how" type="text" class="materialize-textarea validate"></textarea>
			<label class="active" for="how">How</label>
		</div>
	</div>
</div>
